joblib==1.5.3
llvmlite==0.44.0
networkx==3.6.1
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pandas-ta==0.4.71b0
patsy==1.0.2
pyarrow==22.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.8.0
scipy==1.16.3
six==1.17.0
statsmodels==0.14.6
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.3
